.DS_Store
node_modules
dist
packages
bin
obj
artifacts

# local env files
# to be updated  

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vs
.vscode
*.suo
*.ntvs*
*.njsproj
*.sw?
*.user

# Docker msssql folder
mssql
/.gitignore
